<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Todo App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="example.css"><!-- load bootstrap -->

	<style>
		html 					{ overflow-y:scroll; }
	</style>

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
	<script src="core.js"></script>
	<script src="ui-bootstrap-tpls-0.10.0.min.js"></script>


</head>

<!-- SET THE CONTROLLER AND GET ALL TODOS WITH INITIALIZE FUNCTION -->
<body ng-controller="eventController">


<script type="text/ng-template" id="myModalContent">
        <div class="modal-header">
            <h3>Error</h3>
        </div>
        <div class="modal-body">
        	Can not connect to server. Reload the page.
        	Any changes made will not be saved.
		</div>
    </script>	
    


<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav active">
        <li>
          <a href="/events">Events</a>
        </li>

        <li>
          <a href="/ready">Ready</a>
        </li>

        <li>
          <a href="/imported">Imported</a>
        </li>
   
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

	<div class="container">

	<div class="pull-right">
		<div class="btn-group">
			<button ng-hide="!(isUpdateCollapsed && isModifyCollapsed)" class="btn btn-sm pull-right btn-warning" ng-click="showStats()">Stats</button>
		</div>
	</div>
	<div class="pull-right">
		<div class="btn-group">
			<button ng-hide="!(isUpdateCollapsed && isModifyCollapsed)" class="btn btn-sm pull-right btn-primary" ng-click="createEvent()">Add New Event</button>
		</div>
	</div>
		<br/><br/>

		<div id="event-list" class="row">
			<div collapse="!(isUpdateCollapsed && isModifyCollapsed)">
				<table class="table table-striped" >

						<tr ng-repeat="event in events">
							<td>{{ event.name }} </td>
							<td>{{ event.date }} </td>
							<td>{{ event.days }} </td>
							<td>{{ event.status }}	</td>	
							<td>{{ event.attendants.length }}	</td>	

							<td> 
								<button type="button" class="btn btn-primary btn-sm" ng-click="editEvent(event._id)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
								<button type="button" class="btn btn-warning btn-sm" ng-click="modifyEvent(event._id)"><span class="glyphicon glyphicon-cog"></span>Modify</button>
								<button type="button" class="btn btn-success btn-sm" ng-really-message="Are you sure you want to complete event: {{event.name}}" ng-really-click="readyEvent(event._id)"><span class="glyphicon glyphicon-ok"></span>Ready</button>
								<button type="button" class="btn btn-danger btn-sm" ng-really-message="Are you sure you want to delete event: {{event.name}}" ng-really-click="deleteEvent(event._id)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
								
								
						</td>
						</tr>		

				</table>

			</div>
		</div>

		<div >
			<br/>
			<div collapse="isUpdateCollapsed">
				<div class="well well-lg">

					<div id="todo-form" class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<form novalidate name="myform">
								<div id="prefetch" class="form-group">
									<input ng-required="true" type="text" class="form-control input-lg text-center" placeholder="Event Name" ng-model="formData.name">
								</div>
								<div id="prefetch" class="form-group text-center">
									<select data-ng-options="status for status in statuses" data-ng-model="formData.status" ng-required="true" class="form-control"></select>
								</div>
								<div id="prefetch" class="form-group">
									<input ng-required="true" type="number" min="1" max="50" class="form-control input-lg text-center" ng-model="formData.days">
								</div>


								<div id="prefetch" class="form-group">
									<pre>Selected date is: <em>{{formData.dt | date:'dd/MM/yyyy' }}</em></pre>

									<div style="display:inline-block; min-height:290px;">
								      <div class="well well-sm" ng-model="formData.dt">
								          <datepicker starting-day="1" show-weeks="false"></datepicker>
								      </div>
								    </div>
								</div>
								
								<button ng-disabled="myform.$invalid" type="submit" class="btn btn-primary" ng-click="updateEvent()" >Save Event</button>
								<button type="cancel" class="btn btn-default" ng-click="cancelEvent()">Cancel</button>
							</form>
						</div>
					</div>

				</div> 
			</div>
		</div>

		<div >
			<br/>
			<div collapse="isStatsCollapsed">
				<div class="well well-lg">
     							

     				<div class="row">
					    <div class="col-lg-6 col-xs-6"></div>
					    <div class="col-lg-6 col-xs-6">
					      <div class="col-lg-2 col-lg-push-10 col-md-2 col-md-push-0 col-sm-2 col-sm-push-0 col-xs-2 col-xs-push-0">
					        <div class="pull-right"><span class="push-right glyphicon glyphicon-remove" ng-click="hideStats()"></span></div>
					      </div>
					    </div>
					</div>			

					<div id="todo-form" class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<table class="table table-striped" >
										<tr>
											<th>User</th>
											<th>Pending</th>
											<th>Ready</th>
											<th>Imported</th>
											<th>Sum</th>
											<th>Deleted</th>
										</tr>
										<tr ng-repeat="stat in stats">
											<td style="font-weight:bold">{{stat['name']}}</td>
											<td ng-show="stat['PENDING']">{{stat['PENDING']}}</td><td ng-hide="stat['PENDING']">0</td>
											<td ng-show="stat['DONE']">{{stat['DONE']}}</td><td ng-hide="stat['DONE']">0</td>
											<td ng-show="stat['IMPORTED']">{{stat['IMPORTED']}}</td><td ng-hide="stat['IMPORTED']">0</td>
											<td>{{stat['PENDING'] + stat['DONE'] + stat['IMPORTED']}}</td>
											<td ng-show="stat['DELETED']">{{stat['DELETED']}}</td><td ng-hide="stat['DELETED']">0</td>
										</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div >
			<br/>
			<div collapse="isModifyCollapsed">
				<div class="well well-lg">
     							

     				<div class="row">
					    <div class="col-lg-6 col-xs-6"></div>
					    <div class="col-lg-6 col-xs-6">
					      <div class="col-lg-2 col-lg-push-10 col-md-2 col-md-push-0 col-sm-2 col-sm-push-0 col-xs-2 col-xs-push-0">
					        <div class="pull-right"><span class="push-right glyphicon glyphicon-remove" ng-click="cancelModify()"></span></div>
					      </div>
					    </div>
					</div>			

					<div id="todo-form" class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<form novalidate ng-submit="addAttendant()" name="myform2">

								<div>
								<h4>{{formData.name}} {{formData.date }} : {{ formData.attendants.length }} members</h4>
								</div>

								<div class="col-lg">
								    <div class="input-group">
								      <input ng-required="true" type="text" class="form-control input-lg text-center" placeholder="Member" ng-model="attendant" typeahead="member as member.searchale + ' ' + member.code  for member in members | filter:$viewValue | limitTo:8" typeahead-min-length="3" typeahead-editable="true" typeahead-wait-ms="50">
								      <span class="input-group-btn">
								        <button ng-disabled="myform2.$invalid" class="btn btn-lg btn-primary" type="button" ng-click="addAttendant()">Add</button>
								      </span>
								    </div><!-- /input-group -->
								</div><!-- /.col-lg-6 -->

								<br/><br/>

								<div id="event-list" class="row">
										<div>
											<table class="table table-striped" >

													<tr ng-repeat="attendant in formData.attendants">
														<td>{{ attendant.name }} </td>
														<td> 
															<button type="button" class="btn btn-danger btn-sm" ng-really-message="Are you sure you want to delete member: {{attendant.name}}" ng-really-click="deleteAttendant($index)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
													</td>
													</tr>		

											</table>

										</div>
								</div>

								
							</form>
						</div>
					</div>
				</div>		
			</div>
		</div>
		
	</div>


</body>
</html>